<nav class="mb-4 flex gap-4 text-blue-600 underline">
  <%= link_to "Por Comprar", to_buy_items_path %>
  <%= link_to "Comprados", bought_items_path %>
  <%= link_to "Archivados", archived_items_path %>
</nav>
